services:
  bot_service:
    build:
      context: ../..
      dockerfile: infra/docker/Dockerfile
    container_name: wb_lead_bot_service
    env_file:
      - ../../.env
    ports:
      - "8443:8444"
    restart: unless-stopped
    stop_grace_period: 10s
    stop_signal: SIGTERM
    command: ["python", "apps/bot_service/main.py"]
    networks:
      - wb_lead_network
    environment:
      - DATABASE_URL=postgresql+asyncpg://app:app@docker-postgres-1:5432/app

  worker:
    build:
      context: ../..
      dockerfile: infra/docker/Dockerfile
    container_name: wb_lead_worker
    env_file:
      - ../../.env
    restart: unless-stopped
    stop_grace_period: 10s
    stop_signal: SIGTERM
    command: ["python", "apps/bot_service/workers/calculation_worker.py"]
    networks:
      - wb_lead_network
    environment:
      - DATABASE_URL=postgresql+asyncpg://app:app@docker-postgres-1:5432/app

networks:
  wb_lead_network:
    external: false
